soap-client/src/wsdl/localhost_8080/PersonService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://standalone.soap.mikael0.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://standalone.soap.mikael0.com/">

<xs:element name="getPersons" type="tns:getPersons"></xs:element>

<xs:element name="getPersonsByParameters" type="tns:getPersonsByParameters"></xs:element>

<xs:element name="getPersonsByParametersResponse" type="tns:getPersonsByParametersResponse"></xs:element>

<xs:element name="getPersonsResponse" type="tns:getPersonsResponse"></xs:element>

<xs:complexType name="getPersonsByParameters">
<xs:sequence>
<xs:element name="arg0" type="tns:person" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="age" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="contactDate" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="isEmployee" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="surname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsByParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersons">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>