soap-client/src/main/java/com/mikael0/soap/client/generated/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://standaloneerror.soap.mikael0.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://standaloneerror.soap.mikael0.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://standaloneerror.soap.mikael0.com/" schemaLocation="http://localhost:8080/PersonService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"></part>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"></part>
</message>
<message name="NoDataException">
<part name="fault" element="tns:NoDataException"></part>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"></part>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"></part>
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"></part>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"></part>
</message>
<message name="getPersonsByParameters">
<part name="parameters" element="tns:getPersonsByParameters"></part>
</message>
<message name="getPersonsByParametersResponse">
<part name="parameters" element="tns:getPersonsByParametersResponse"></part>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"></part>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"></part>
</message>
<portType name="PersonWebService">
<operation name="updatePerson">
<input wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/updatePersonRequest" message="tns:updatePerson"></input>
<output wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/updatePersonResponse" message="tns:updatePersonResponse"></output>
<fault message="tns:NoDataException" name="NoDataException" wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/updatePerson/Fault/NoDataException"></fault>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/deletePersonRequest" message="tns:deletePerson"></input>
<output wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/deletePersonResponse" message="tns:deletePersonResponse"></output>
</operation>
<operation name="getPersons">
<input wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/getPersonsRequest" message="tns:getPersons"></input>
<output wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"></output>
</operation>
<operation name="getPersonsByParameters">
<input wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/getPersonsByParametersRequest" message="tns:getPersonsByParameters"></input>
<output wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/getPersonsByParametersResponse" message="tns:getPersonsByParametersResponse"></output>
</operation>
<operation name="createPerson">
<input wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/createPersonRequest" message="tns:createPerson"></input>
<output wsam:Action="http://standaloneerror.soap.mikael0.com/PersonWebService/createPersonResponse" message="tns:createPersonResponse"></output>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="updatePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NoDataException">
<soap:fault name="NoDataException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersonsByParameters">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"></soap:address>
</port>
</service>
</definitions>